h3.section-subtitle.section-subtitle-mt36 Наши Ключевые Отличия
.block-icons
    .block-icons-item
        svg.svg-deadline
            use(href="./img/spriteSvg.svg#svg-deadline")
        span.block-icons-text в срок
    .block-icons-item
        svg.svg-time
            use(href="./img/spriteSvg.svg#svg-time")
        span.block-icons-text быстро
    .block-icons-item
        svg.svg-heart
            use(href="./img/spriteSvg.svg#svg-heart")
        span.block-icons-text с вниманием и заботой о клиенте!