div(class="case-card case-card10")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Синхронизация с 1С
            .case-card__img-mob
                img(src="./img/cases/case10.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case10-mobile.webp", alt="card-img")
            p.case-card__desc Оптимизировали скорость загрузки сайта www.medkvartal.ru. Оптимизация включала в себя сжатие изображений, минимизацию CSS и JavaScript, а также настройку кэширования. Эти меры помогли достичь высоких результатов в тестах PageSpeed, обеспечив более плавную и быструю работу сайта на всех устройствах.
            button(class="btn-about" data-modal-button="modal-price" data-title="синронизация с 1С") Узнать цену
        .case-card__img
            img(src="./img/cases/case10.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/card.webp", alt="card-img")