div(class="case-card case-card04")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Парсинг товаров
            .case-card__img-mob
                img(src="./img/cases/case04.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case04-mobile.webp", alt="card-img")
            p.case-card__desc Разработана система парсинга, которая автоматически обновляет информацию о товарах на сайте amotivegroup.ru, экономя время и ресурсы компании.
            button(class="btn-about" data-modal-button="modal-price" data-title="парсинг товаров") Узнать цену
        .case-card__img
            img(src="./img/cases/case04.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/laptop-card.webp", alt="card-img")