div(class="case-card case-card01")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Добавление товаров
            .case-card__img-mob
                img(src="./img/cases/case01.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case01-mobile.webp", alt="card-img")
            p.case-card__desc Сайт посвященный торговле сварочными аппаратами, добавлены товары от 5 поставщиков.
            button(class="btn-about" data-modal-button="modal-price" data-title="добавление товаров") Узнать цену
        .case-card__img
            img(src="./img/cases/case01.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/bottles2.webp", alt="card-img")