div(class="case-card case-card08")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Уникальность
            .case-card__img-mob
                img(src="./img/cases/case08.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case08-mobile.webp", alt="card-img")
            p.case-card__desc Создали уникальные иконки и баннеры, которые подчеркнули атмосферу и стиль сайта teatr-straha.ru, привлекая больше посетителей.
            button(class="btn-about" data-modal-button="modal-price" data-title="уникальность") Узнать цену
        .case-card__img
            img(src="./img/cases/case08.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/pearl.webp", alt="card-img")