div(class="case-card case-card09")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Восстановление сайта
            .case-card__img-mob
                img(src="./img/cases/case09.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case09-mobile.webp", alt="card-img")
            p.case-card__desc Обновлён движок (CMS) сайта atlas28.ru, что повысило его производительность и стабильность работы.
            button(class="btn-about" data-modal-button="modal-price" data-title="восстановление сайта") Узнать цену
        .case-card__img
            img(src="./img/cases/case09.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/screens-card.webp", alt="card-img")