div(class="case-card case-card02")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Редизайн сайта
            .case-card__img-mob
                img(src="./img/cases/case02.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case02-mobile.webp", alt="card-img")
            p.case-card__desc Провели полный редизайн сайта для компании “Сантехника XXI век” - santeh21.ru. Улучшив пользовательский интерфейс и увеличив конверсию на 30%.
            button(class="btn-about" data-modal-button="modal-price" data-title="редизайн сайта") Узнать цену
        .case-card__img
            img(src="./img/cases/case02.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/phones.webp", alt="card-img")