div(class="case-card case-card11")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Настройки
            .case-card__img-mob
                img(src="./img/cases/case11.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case11-mobile.webp", alt="card-img")
            p.case-card__desc На сайте amurskij-dachnik.ru настроили систему автоматического резервного копирования, обеспечив сохранность данных и их быстрое восстановление в случае необходимости.
            button(class="btn-about" data-modal-button="modal-price" data-title="настройки") Узнать цену
        .case-card__img
            img(src="./img/cases/case11.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/phones.webp", alt="card-img")