div(class="case-card case-card07")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Восстановление сайта
            .case-card__img-mob
                img(src="./img/cases/case07.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case07-mobile.webp", alt="card-img")
            p.case-card__desc Провели комплексное лечение сайта gorodmasterov2008.ru от вирусов, восстановив его работоспособность, безопасность и защитив данные пользователей.
            button(class="btn-about" data-modal-button="modal-price" data-title="восстановление сайта") Узнать цену
        .case-card__img
            img(src="./img/cases/case07.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/screens-card.webp", alt="card-img")