div(class="case-card case-card06")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Интеграция с нейросетями
            .case-card__img-mob
                img(src="./img/cases/case06.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case06-mobile.webp", alt="card-img")
            p.case-card__desc Внедрили интеграцию с нейросетями на сайте kvartira28.ru, что значительно упростило процесс создания объявлений. Теперь на сайте автоматически генерируются текстовые описания, учитывая ключевые характеристики объектов недвижимости.
            button(class="btn-about" data-modal-button="modal-price" data-title="интеграция с нейросетями") Узнать цену
        .case-card__img
            img(src="./img/cases/case06.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/pearl.webp", alt="card-img")