div(class="case-card case-card05")
    .case-card-wrapper
        .case-card-content
            h3.subtitle Настройка онлайн оплаты
            .case-card__img-mob
                img(src="./img/cases/case05.webp", alt="card-img")
            .case-card__img-mobXS
                img(src="./img/cases/case05-mobile.webp", alt="card-img")
            p.case-card__desc Настройка онлайн оплаты на сайте uzbekistan-blg.ru. Это позволило клиентам удобно и безопасно совершать платежи  на сайте, улучшив общий пользовательский опыт и увеличив количество завершенных транзакций.
            button(class="btn-about" data-modal-button="modal-price" data-title="настройка онлайн оплаты") Узнать цену
        .case-card__img
            img(src="./img/cases/case05.webp", alt="card-img")
    .case-card-decor
        img(src="./img/cards/credits.webp", alt="card-img")