.service-card
    form(class="form")
        .form-top
            h2.section-title.section-title-light #[strong Настроим онлайн оплаты товаров,] услуг,
                |
                br
                | бронирования или аренды
            button(class="btn-close-modal" data-modal-close)
        input(type="hidden" name="form_title" value="настроим онлайн оплаты товаров")
        .form-item
            label.checkbox-row
                input(type="checkbox" name="filter1").real-checkbox-modal
                span.custom-checkbox-modal
                span.checkbox-modal-text Юкасса от 10 тр
            label.checkbox-row
                input(type="checkbox" name="filter2").real-checkbox-modal
                span.custom-checkbox-modal
                span.checkbox-modal-text Прямой эквайринг банка от 10 тр
            label.checkbox-row
                input(type="checkbox" name="filter3").real-checkbox-modal
                span.custom-checkbox-modal
                span.checkbox-modal-text Робокасса от 5 тр
        .form-item.form-item-mt7
            input(class="form-input input-service" type="text" name="service" placeholder="ваш сервис (укажите)")
        include ../blocks/block-icons.pug
        p.form-text Выберите какое наполнение вас интересует, заполните поля и отправьте запрос:
        .form-item
            .input-row
                input(class="form-input" type="text" name="site" placeholder="Caйт")
                input(class="form-input" type="text" name="tel" placeholder="Ваш номер телефона")
        .form-item
            button(type="submit" class="btn-order submit-btn") Заказать