//testimonial-block
.modal-block.testimonial-block
    .form-top
        h2.section-title.inset-title
        button(class="btn-close-modal" id="btn-close-form" data-modal-close)
    .testimonial-block__rate
        img(src="./img/star.webp" alt="Star")
        img(src="./img/star.webp" alt="Star")
        img(src="./img/star.webp" alt="Star")
        img(src="./img/star.webp" alt="Star")
        img(src="./img/star.webp" alt="Star")
    p.testimonial-block__text.inset-text