.services {
    margin-top: 56px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #fff;

    .section-title {
        @media (max-width: 575px) {
            margin-bottom: 0;
        }
    }

    .title-decor {
        @media (max-width: 575px) {
            padding-inline: 20px;
        }
    }

    @media (max-width: 767px) {
        margin-top: 0;
        padding-top: 40px;

        .container {
            padding-inline: 0;
        }
    }
}

.services .title-decor span::before {
    width: 150px;
    inset: 13px 0 0 7px;

    @media (max-width: 767px) {
        width: 105px;
        height: 100%;
        position: absolute;
        inset: 10px;
    }
}

.services-slider {
    .slick-arrow {
        @media (max-width: 1023px) {
            display: none !important;
        }
    }

    .slick-dots {
        bottom: -30px;
        @media (max-width: 575px) {
            bottom: -40px;
        }
    }
}

.service-slide {
    padding-inline: 10px;

    .form-input {
        height: 43px;
    }

    .btn-order {
        height: 38px;
    }

    .service-card {
        padding-inline: 20px;
        padding-block: 26px;
    }

    .btn-close-modal {
        display: none;
    }

    .service-card .form-top {
        align-items: first baseline;
        margin-bottom: 16px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-subtitle {
        margin-bottom: 16px;
        font-size: 18px;
    }

    .checkbox-modal-text {
        font-size: 14px;
    }

    .section-subtitle.section-subtitle-mt36 {
        font-size: 18px;
    }

    .section-subtitle.section-subtitle-20 {
        margin-top: 30px;
        font-size: 20px;
    }

    .form-item-cms {
        margin-bottom: 30px;
    }

    .form-text {
        font-size: 16px;
    }

    .input-row {
        input {
            max-width: unset;
        }

        width: 100%;
        flex-direction: column;
        row-gap: 15px;
    }

    .section-title-light {
        width: 100%;
    }

    .svg-deadline,
    .svg-time,
    .svg-heart {
        width: 20px;
        height: 20px;
    }

    .block-icons-text {
        font-size: 14px;
    }
}