section.about
    .about__decor
        img(src="./img/about/about-img.svg" width="582" height="505" alt="about img")
    .container
        .about-wrapper
            h2.section-title Почему более 200 компаний выбрали нас?
            p.about__text-mob Мы ориентированы на долгосрочные отношения с клиентами. Это позволяет нам быть гибкими, приоритетно искать выгоду для клиента, а не гнаться за сиюминутной прибылью.
            .about-list
                div(class="about-list-item list-header" data-name="accordeon-title")
                    span.plain-num 1
                    .list-item-title Конкурентные цены
                div(class="about-list-item list-content hidden") Мы держим наши цены ниже рыночных, постоянно стремясь к оптимальной эффективности. Наши специалисты выполняют задачи с такой скоростью, что иногда могут сделать в три раза больше, чем конкуренты за то же время.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    span.plain-num 2
                    .list-item-title Cтрого в срок
                div(class="about-list-item list-content hidden") Мы ценим ваше время и выполняем 95% заказов раньше согласованных сроков. Если возникают непредвиденные обстоятельства, которые могут повлиять на график, мы обязательно предупредим вас заранее.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    span.plain-num 3
                    .list-item-title Оперативность
                div(class="about-list-item list-content hidden") Налаженные процессы позволяют нам начинать работу над задачей уже в первые сутки после ее получения. Мы не затягиваем сроки и всегда работаем на результат.
                div(class="about-list-item list-header active" data-name="accordeon-title")
                    span.plain-num 4
                    .list-item-title Профессионализм и забота
                div(class="about-list-item list-content") Мы действительно заботимся о вас и вашем проекте. Подсказываем, как сделать лучше, дешевле, и красивее. В каждом тарифе включена услуга "консьерж-сервис" — мы берем на себя уточнение и обсуждение технических деталей с третьими сторонами: хостинг-провайдерами, сторонними программистами, фотографами и другими специалистами. В результате - ситуации когда все сказали “Проблема не на моей стороне” исключена!
            .btn-about-wrapper
                button(class="btn-about" type="button" data-modal-button="modal-call") Приступить к улучшению сайта!