section.cases#cases
    .container
        .title-decor
           h2.section-title Наши #[span Кейсы]
        .cases-slider
            .case-slide
                include ../blocks/case-card01.pug
            .case-slide
                include ../blocks/case-card02.pug
            .case-slide
                include ../blocks/case-card03.pug
            .case-slide
                include ../blocks/case-card04.pug
            .case-slide
                include ../blocks/case-card05.pug
            .case-slide
                include ../blocks/case-card06.pug
            .case-slide
                include ../blocks/case-card07.pug
            .case-slide
                include ../blocks/case-card08.pug
            .case-slide
                include ../blocks/case-card09.pug
            .case-slide
                include ../blocks/case-card10.pug
            .case-slide
                include ../blocks/case-card11.pug
            .case-slide
                include ../blocks/case-card12.pug
//modal
div(class="fade-block hidden" data-modal="modal-price" id="modal-price")
    .modal-window.modal-window-cases
       include ../blocks/price-form.pug