section.faq
    .container
        .faq-wrapper
            h2.section-title FAQ
            .about-list
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title Как производится оплата технической поддержки?
                div(class="about-list-item list-content hidden") Для абонентских тарифов оплата осуществляется в виде предоплаты за месяц. Если в течение месяца были выполнены работы сверх установленного лимита, они оплачиваются по итогам месяца.Для депозитных тарифов необходимо внести депозит, который служит предоплатой. После того как предоплаченные часы будут полностью израсходованы или закончится срок действия депозита, потребуется внести новую предоплату.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title Как можно ставить задачи?
                div(class="about-list-item list-content hidden") Обычно задачи отправляются по электронной почте, при необходимости уточняются голосом. Также возможна коммуникация через мессенджеры. Для некоторых тарифов, по желанию клиента, мы создаем канбан в Битрикс24 с указанием ответственного за постановку задач.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title С кем я буду взаимодействовать?
                div(class="about-list-item list-content hidden") За вами будет закреплен персональный менеджер, который не только передает задачи специалистам, но и помогает подобрать оптимальные решения, а также следит за корректностью выполнения работ.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title Какие варианты технической поддержки еще возможны?
                div(class="about-list-item list-content hidden") Если оценка задач в часах вам не кажется удобной, мы можем предложить фиксированную стоимость по каждой задаче в рублях. Это позволит избежать недоразумений в будущем. Такой вариант доступен для задач, стоимость которых начинается от 40 000 рублей.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title Кто будет работать с моим сайтом?
                div(class="about-list-item list-content hidden") Наши сотрудники имеют сертификацию от компании 1С-Битрикс, а их квалификация не ниже уровня middle. Так как поддержка сайтов требует более глубоких знаний по сравнению с разработкой, к этому направлению допускаются только специалисты с опытом работы от 3 до 5 лет.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title Какие задачи чаще всего просят выполнять в рамках техподдержки?
                div(class="about-list-item list-content hidden") Среди частых запросов можно выделить: размещение новостей, изменение изображений, настройку административной панели сайта, написание текстов для новых разделов, проведение аудита конкурентов, улучшение скорости загрузки, настройку Яндекс.Метрики, установку SSL-сертификата, восстановление сайта из резервной копии и многое другое.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title Что входит в услугу технического сопровождения?
                div(class="about-list-item list-content hidden") Техническое сопровождение включает любые работы, связанные с вашим сайтом: наполнение контентом, изменения в дизайне, верстку, программирование, создание резервных копий, восстановление данных, продление домена и SSL-сертификатов, решение вопросов с хостингом, исправление ошибок, подключение аналитических систем, удаление вирусов, SEO-консультации и круглосуточный мониторинг.
                div(class="about-list-item list-header" data-name="accordeon-title")
                    .list-item-title Что делать, если мне не подходит стандартный тариф?
                div(class="about-list-item list-content hidden") Мы всегда можем предложить индивидуальное решение, исходя из ваших конкретных потребностей и объема работ.
                div(class="about-list-item list-header last" data-name="accordeon-title")
                    .list-item-title Почему важно контролировать задачи SEO-специалистом?
                div(class="about-list-item list-content hidden") SEO-специалист проверяет выполнение задач на соответствие требованиям поисковых систем. Например, при создании новых блоков он рекомендует, какие теги использовать для заголовков и текста, чтобы улучшить ранжирование сайта, и подсказывает, как избежать возможных негативных последствий для SEO.