section.logos
    .logos-wrapper
        h2.section-title Нам доверяют свои сайты
        .logos-slider
            .logo-slide
                img(src="./img/logos/logo01.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo02.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo03.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo04.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo05.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo06.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo07.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo08.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo09.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo10.webp" alt="logo img")
            .logo-slide.logo-slide-dark
                img(src="./img/logos/logo11.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo12.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo13.webp" alt="logo img")
            .logo-slide.logo-slide-dark
                img(src="./img/logos/logo14.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo15.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo16.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo17.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo18.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo19.webp" alt="logo img")
            .logo-slide.logo-slide-dark
                img(src="./img/logos/logo20.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo21.webp" alt="logo img")
            .logo-slide.logo-slide-dark
                img(src="./img/logos/logo22.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo23.webp" alt="logo img")
            .logo-slide.logo-slide-dark
                img(src="./img/logos/logo24.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo25.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo26.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo27.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo28.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo29.webp" alt="logo img")
            .logo-slide
                img(src="./img/logos/logo30.webp" alt="logo img")
            .logo-slide.logo-slide-dark
                img(src="./img/logos/logo31.webp" alt="logo img")