section.services#services
    .container
        .title-decor
           h2.section-title Наши #[span услуги]
        .services-slider
            .service-slide
                include ../blocks/service-card-design.pug
            .service-slide
                include ../blocks/service-card-add-product.pug
            .service-slide
                include ../blocks/service-card-parsing.pug
            .service-slide
                include ../blocks/service-card-neuro.pug
            .service-slide
                include ../blocks/service-card-repair.pug
            .service-slide
                include ../blocks/service-card-online-pay.pug
            .service-slide
                include ../blocks/service-card-synchron.pug
            .service-slide
                include ../blocks/service-card-feedback.pug